<!DOCTYPE html>
<html>
<head>
	{{ partial "head" . }}
</head>
<body>
	{{ partial "header" . }}

	<div class="container" style="padding-top: 70px">
		<p><a href="{{ "blog" | absURL }}">&laquo; Vissza a bloghoz</a></p>
		<h1>{{ .Title }}</h1>
		<p><strong>Szerző:</strong> {{ .Params.Author }}, {{ .Date.Format "2006. 01. 02." }}</p>
		<hr />
		{{ .Content }}
	</div>

	{{ partial "footer" . }}
</body>
</html>
