---
Title: "About Us"
Date: 2019-08-04T15:43:37+02:00
Draft: false
Summary: "About FSF.hu Foundation"
---
<p class="lead">
  The FSF.hu Foundation for Promoting and Localizing Free Software in Hungary (“FSF.hu Alapítvány a Szabad Szoftverek Magyarországi Népszerűsítéséért és Honosításáért”)
  was officially recognized by the Hungarian state as a foundation for the public good (“közhasznú alapítvány”) on January 27th, 2003.
  We use the FSF.hu moniker to signify our adherence to the principles of <a href="http://www.fsf.org/licensing/essays/free-sw.html">software freedom</a> as articulated
  by Richard Stallman and the <a href="http://www.fsf.org/">Free Software Foundation</a>.
</p>

<p>
  We believe free software is most useful when it just works and lets the user concentrate on her own tasks.
  To this end, we have taken upon ourselves to localize useful pieces of free software into Hungarian.
  Volunteer-made l10n is a long journey indeed: coarse translations can usually be obtained quickly by involving numerous people,
  but dotting all the I-s and crossing all the T-s on the truly finished product takes time – the time of a handful of committed individuals,
  as consistency comes from knowledge of both the software at hand and also the finer nuances of proper language usage.
  <a href="http://www.libreoffice.org/">LibreOffice</a> and <a href="http://www.mozilla.org/">Mozilla</a> are among our high-profile projects,
  but we also work on others as our resources and time allow.
</p>

<p>
  When not poring over endless screenfuls of software, we’re also doing our best to educate the general public about the benefits of free software.
  Through articles, papers, public lectures, conference panels, appearances on radio and TV, we raise public awareness that a whole world of underutilized
  resources exist and that it makes good business sense to use it.
  We encourage pilot projects to evaluate and introduce free software in interested companies and other organizations.
  Cooperation with like-minded advocacy groups often proves fruitful.
</p>

<p>
  Participation in our work is open to everyone, regardless of gender, political conviction, religion or any such limitation: what we do is free software.
  To do an effective and credible job, we as a group refrain from articulating opinions in unrelated topics, no matter how much any one individual member
  may agree or disagree with them.
</p>

<p>
  You can contact the FSF.hu team at <code class="text-info">kuratorium [at] fsf [dot] hu</code>.
</p>
