---
Title: "Az Alapítványról"
Date: 2019-08-04T15:43:37+02:00
Draft: false
Summary: "Az FSF.hu Alapítvány névjegye"
---
<p>Az alapítvány teljes neve: <i>Free Software Foundation Hungary Alapítvány a Szabad Szoftverek Magyarországi Népszerűsítéséért és Honosításáért.</i></p>
<p>Az FSF jelentése: Free Software Foundation, azaz Szabad Szoftver Alapítvány. Az FSF elnöke Richard Stallman, aki 1984-ben elindította GNU Projektet. Nagyjából ekkor indult a szabad szoftveres mozgalom. A GNU-kiáltványból többet is megtudhat az ideológiai háttérről. Mindazonáltal az FSF.hu nem az FSF magyarországi fiókszervezete, tőle teljesen független.</a>
<p>A népszerűsítés fogalmát talán nem kell sokat magyarázni. A honosításon lényegében a szabad szoftverek és dokumentációk fordítását értjük angol nyelvről magyarra. Alapelvünk, hogy honosított szoftvernek úgy kell kinéznie, mintha azt eleve a célnyelven írták volna meg.</p>

<table class="table table-striped table-compact">
  <thead class="thead-dark">
    <tr>
      <th colspan="2">Az Alapítvány adatai</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-4">Levelezési cím:</td>
      <td class="col-8">
        <b>1221 Budapest, Arany János utca 41. 2./10.</b><br>
        (Az FSF.hu Alapítványnak nincs irodája, így a fenti címen ügyfélfogadás nincs!)
      </td>
    </tr>
    <tr>
      <td>Számlaszám:</td>
      <td>
        Erste Bank, <b>11600006-00000000-07601138</b><br>
        IBAN: <i>HU54 11600006 00000000 07601138</i><br>
        SWIFT: <i>GIBAHUHB</i>
      </td>
    </tr>
    <tr>
      <td class="col-4">Adószám:</td>
      <td class="col-8"><b>18247806-1-43</b></td>
    </tr>
    <tr>
      <td class="col-4">Nyilvántartási szám:</td>
      <td class="col-8">8781</td>
    </tr>
    <tr>
      <td class="col-4">Közhasznúságról szóló végzés száma:</td>
      <td class="col-8">11.Pk. 61063/2002/3</td>
    </tr>
    <tr>
      <td class="col-4">Alapító okirat:</td>
      <td class="col-8"><a href="{{< ref "alapito-okirat.html" >}}">Megtekintés &raquo;</a></td>
    </tr>
  </tbody>
</table>

<h3>Az Alapítvány kuratóriuma</h3>
<hr>
<ul class="fsfhu">
  <li>Meskó Balázs – elnök</li>
  <li>Úr Balázs</li>
  <li>Mátó Péter</li>
</ul>


<p>Az alapítvány munkatársai anyagi ellenszolgáltatás nélkül, a szabadidejükben végzik munkájukat.</p>

<h3>Közhasznúsági beszámolók</h3>
<hr>

<table class="table table-borderless">
  <tbody>
    <tr class="row">
      <td class="col-sm-1 offset-sm-1" align="center"><span class="text-muted">2001</span></td>
      <td class="col-sm-1" align="center"><span class="text-muted">2002</td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2003.pdf" >}}" class="font-weight-bold">2003</a></td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2004.pdf" >}}" class="font-weight-bold">2004</a></td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2005.pdf" >}}" class="font-weight-bold">2005</a></td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2006.pdf" >}}" class="font-weight-bold">2006</a></td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2007.pdf" >}}" class="font-weight-bold">2007</a></td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2008.pdf" >}}" class="font-weight-bold">2008</a></td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2009.pdf" >}}" class="font-weight-bold">2009</a></td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2010.pdf" >}}" class="font-weight-bold">2010</a></td>
    </tr>
    <tr class="row">
      <td class="col-sm-1 offset-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2011.pdf" >}}" class="font-weight-bold">2011</a></td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2012.pdf" >}}" class="font-weight-bold">2012</a></td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2013.pdf" >}}" class="font-weight-bold">2013</a></td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2014.pdf" >}}" class="font-weight-bold">2014</a></td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2015.pdf" >}}" class="font-weight-bold">2015</a></td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2016.pdf" >}}" class="font-weight-bold">2016</a></td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2017.pdf" >}}" class="font-weight-bold">2017</a></td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2018.pdf" >}}" class="font-weight-bold">2018</a></td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2019.pdf" >}}" class="font-weight-bold">2019</a></td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2020.pdf" >}}" class="font-weight-bold">2020</a></td>
    </tr>
    <tr class="row">
      <td class="col-sm-1 offset-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2021.pdf" >}}" class="font-weight-bold">2021</a></td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2022.pdf" >}}" class="font-weight-bold">2022</a></td>
      <td class="col-sm-1" align="center"><a href="{{< staticref "assets/pdf/fsfhu-kozh2023.pdf" >}}" class="font-weight-bold">2023</a></td>
      <td class="col-sm-1" align="center"><span class="text-muted">2024</span></td>
      <td class="col-sm-1" align="center"><span class="text-muted">2025</span></td>
      <td class="col-sm-1" align="center"><span class="text-muted">2026</span></td>
      <td class="col-sm-1" align="center"><span class="text-muted">2027</span></td>
      <td class="col-sm-1" align="center"><span class="text-muted">2028</span></td>
      <td class="col-sm-1" align="center"><span class="text-muted">2029</span></td>
      <td class="col-sm-1" align="center"><span class="text-muted">2030</span></td>
    </tr>
  </tbody>
</table>
