---
Title: "Hogyan támogathat"
Date: 2019-08-04T15:43:37+02:00
Draft: false
Summary: "Hogyan támogathatja az FSF.hu Alapítvány munkáját?"
---
<p class="lead">
	Ha Ön fontosnak tartja a szabad szofverek magyarországi népszerűsítését és elterjesztését, akkor segítsen nekünk.
	Az alapítványunk által indított munkák egy részének folyamatos fenntartásához anyagi támogatásra is szükség van.
	Legfontosabb bevételi forrásunk az SZJA 1%-a, de az alapítvány fogad adományokat is. Ha teheti, kérjük, segítsen.
	Alapítványunk közhasznú szervezet, ezért az Alapítványnak nyújtott támogatás után adókedvezmény vehető igénybe.
	Számlavezető bankunk és számlaszámunk: <strong style="font-weight: 700;">Erste Bank, 11600006-00000000-07601138</strong>
</p>
<ul class="fsfhu">
	<li><a href="{{< staticref "assets/pdf/fsf.hu-tamogatas-maganszemely.pdf" >}}">Támogatási adatlap magánszemélyeknek (PDF)</a></li>
	<li><a href="{{< staticref "assets/pdf/fsf.hu-tamogatas-ceg.pdf" >}}">Támogatási adatlap cégeknek (PDF)</a></li>
</ul>
<p>A PDF adatlapot nyomtatás után töltse ki, és levélben küldje el az FSF.hu Alapítvány címére (FSF.hu Alapítvány, 1221 Budapest, Arany János út 41. 2./10.), VAGY az adatlapon kért információkat küldje el a <a href="/kapcsolat/">kapcsolat űrlapunkon keresztül</a>.</p>

<h3>Támogatási kategóriák</h3>
<hr/>
<h4>Pénzbeni támogatások</h4>
<table class="table table-striped table-compact">
	<thead class="thead-dark">
		<tr>
			<th colspan="2">Egyéni támogatók</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Rubin fokozatú támogató</td>
			<td>1000 Ft évente</td>
		</tr>
		<tr>
			<td>Zafír fokozatú támogató</td>
			<td>5000 Ft évente</td>
		</tr>
		<tr>
			<td>Smaragd fokozatú támogató</td>
			<td>10000 Ft évente</td>
		</tr>
		<tr>
			<td>Gyémánt fokozatú támogató</td>
			<td>20000 Ft vagy felette évente</td>
		</tr>
	</tbody>
</table>

<table class="table table-striped table-compact">
	<thead class="thead-dark">
		<tr>
			<th colspan="2">Támogató cégek</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Rubin fokozatú támogató</td>
			<td>10000 Ft évente</td>
		</tr>
		<tr>
			<td>Zafír fokozatú támogató</td>
			<td>50000 Ft évente</td>
		</tr>
		<tr>
			<td>Smaragd fokozatú támogató</td>
			<td>100000 Ft évente</td>
		</tr>
		<tr>
			<td>Gyémánt fokozatú támogató</td>
			<td>200000 Ft vagy felette évente</td>
		</tr>
	</tbody>
</table>

<h4>Egyéb támogatás</h4>
<p>Nagy örömmel fogadjuk fordítók, programfejlesztők segítségét, de szívesen veszünk minden támogatást, amely közelebb visz az alapítványi cél eléréséhez.</p>

<h3>A támogatások felhasználása</h3>
<p>
	A kuratórium a munkák fontossági sorrendjének meghatározása során figyelembe veszi a támogatók véleményét. Ha a támogató elégedett az alapítvány munkájával, természetesen a kuratóriumra bízhatja a támogatás helyes felhasználásának megtalálását.
	Jelenleg a következő tevékenységi körök továbbviteléhez van szükség támogatásra:
</p>
<ul class="fsfhu">
	<li>Az alapítvány működési költségei (bankköltség, postaköltség, irodaszerek, fénymásolás, hardver stb.)</li>
	<li>Honosítás (LibreOffice, Firefox, Thunderbird, TheOpenCD, GNOME stb.)</li>
	<li>Szabad szoftver kampánykörút (útiköltség)</li>
</ul>

<h3>Egyéb információk</h3>
<p>
	Amennyiben beleegyezik, az Ön nevét is feltüntetjük az alapítvány támogatói oldalán.
	A támogatók év végén tájékoztatást kapnak az alapítvány éves munkájáról.
	Az értékelő levélben küldjük el a támogatást igazoló papírokat is.
</p>
