body {
	font-family: Roboto, sans-serif;
}

/* FIXME */
.navbar.bg-primary {
	background-color: #800100 !important;
	border-bottom: 2px solid white;
}

/* FIXME */
.navbar .navbar-brand img {
	height: 30px;
}

/* FIXME */
.navbar .navbar-toggler {
	border-color: white;
}

.navbar .navbar-nav .nav-item .nav-link {
	color: white;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
	color: #ffffcc;
}

a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link,
.page-link:hover {
  color: #800100;
}

.page-link:focus {
  box-shadow: 0 0 0 .2rem rgba(0, 0, 0, .25);
}

.page-item.active .page-link {
  background-color: #800100;
  border-color: #343a40;
}
